bg-color = #FAFAFA

html
	font-family 'Source Sans Pro', sans-serif
	font-size 62.5%

body
	font-size 1.6rem
	background bg-color
	
	.hidden
		visibility hidden

	main
		position relative
		margin 20vh auto 0
		text-align center

		h1
			font-weight 900
		
		.error
			max-width 1200px
			margin 0 auto
			&::first-line
				font-size 2.4rem
				font-weight 700
				color #A00

		form select
				padding 4px
				font-size 1.8rem
			
		.expand-button
			margin-top 100px
			padding 5px 15px
			font-size 1.2rem
			border-radius 2px
			background #FFF
			border 1px solid #888
			&:hover, &:focus
				border-color bc = #333
				color bc
				cursor pointer
				outline none
				
		.configuration
			opacity 0
			padding 15px 0
			transition opacity 0.5s ease
			&.expanded
				opacity 1
			
			p
				margin-top 0
			
			input
				margin 3px 0
				padding 5px 10px
				
			.submit
				margin-top 4px
				padding 3px 10px
				border-radius 2px
				background #FFF
				border 1px solid primary = #4AA3DF
				color primary
				cursor pointer
				
	.loading
		position fixed
		top 0
		width 100vw
		height 100vh
		background bg-color
		
		.spinner
			position absolute
			width 50px
			height @width
			top 50%
			left @top
			transform translate(-50%, -50%)
			user-select none